/.idea/
/.vscode/
/deleted/
/qmlease/qmlside/widget_support/_cache/*
/sidework/pyside_package_tailor/dist/deleted/
/sidework/pyside_package_tailor/dist/pyside6_lite/*
/sidework/pyside_package_tailor/dist/*.zip
/sidework/pyside_package_tailor/other_resources/
/sidework/pyside_package_tailor/venv/qt_for_python/*
/unittests/untitled*
/wiki/

__pycache__/
dist/
.DS_Store

!/qmlease/qmlside/widget_support/_cache/.gitkeep
!/sidework/pyside_package_tailor/dist/pyside6_lite/__init__.py
!/sidework/pyside_package_tailor/venv/qt_for_python/.gitkeep
