/.idea/
/.vscode/
/deleted/
/sidework/pyside-package-tailor/other_resources/
/sidework/pyside-package-tailor/venv/qt_for_python/*

__pycache__/
dist/
.DS_Store

!/sidework/pyside-package-tailor/venv/qt_for_python/.gitkeep
