[tool.poetry]
name = "qmlease"
version = "3.1.0a21"
homepage = "https://github.com/likianta/qmlease"
description = "A flexible toolkit for Python programmer to efficiently develop QML graphical user interface."
readme = "README.md"
authors = ["Likianta <likianta@foxmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
argsense = "^0.5.6"
lk-logger = "^5.6.4"
# lk-utils = "^2.7.2"
lk-utils = { version = "^2.9.0b1", source = "likianta-hosted" }
pyside2 = { version = "^5.15", python = ">=3.8,<3.11", optional = true }
pyside6 = [
    { version = ">=6.4.3,<6.5.0", python = ">=3.8,<3.12" },
    { version = "^6.6.1", python = "==3.12" },  # FIXME
]
qtpy = "^2.3.0"
typing-extensions = "*"
# FIXME: watchdog doesn't support python 3.12. use another library instead?
watchdog = { version = "^3.0.0", python = ">=3.8,<3.12" }

[tool.poetry.group.dev.dependencies]
pyside6 = [
    { version = ">=6.4.3,<6.5.0", python = ">=3.8,<3.12" },
    { version = "^6.6.1", python = "==3.12" },
]

[tool.poetry.extras]
qt6 = ["pyside6"]  # pip install qmlease[qt6]
qt5 = ["pyside2"]  # pip install qmlease[qt5]

[[tool.poetry.source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
priority = "default"

[[tool.poetry.source]]
name = "likianta-hosted"
url = "http://likianta.pro:2006/"
priority = "supplemental"

[build-system]
requires = ["poetry"]
build-backend = "poetry.masonry.api"
